# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# 划分结果文件
*_partition.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build file
/build

# FM 算法运行时日志及可视化中间文件
fm_all_logs.csv
fm_trial_results.csv
best_trial_id.txt